.title-ad {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #085cbc;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    text-underline-offset: 0.2em; 
}

.personal-pic {
    position: relative;
    float: right;
    max-width: 430px;
    width: 40%;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 15px;
    border-radius: 100%;
    border: 7px solid #085cbc;
}

.text-ad {
    padding-top: 100px;
    font-size: 18px;
    text-align: left;
}