.areas-title, .elem-title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #085cbc;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    text-underline-offset: 0.2em; 
}

.areas-title {
    font-size: 30px;
    margin-bottom: 30px;
}

.elem-title {
    font-size: 25px;
}

.elem-text {
    padding: 20px;
    font-size: 18px;
}
